@page "/plans/edit/{Id:int}"
@using CurrieTechnologies.Razor.SweetAlert2;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal


<h3>Editar Planes</h3>

@if (plan is null)
{
    <p>Cargando...</p>
}
else
{
    <PlansForm @ref="plansForm" Plan="plan" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Plan? plan;
    private PlansForm? plansForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Plan>($"api/plans/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("plans");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            plan = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/plans", plan);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            plansForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("plans");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("plans");
    }
}
