@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">

    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p> 
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>


<h1>Bienvenido a Funeraria La Cruz!</h1>

En busca de brindar paz eterna.

<SurveyPrompt Title="How is Blazor working for you?" />
